.preview {
  width: 100%;
  background: #F1F3F5;
  height: 269px;
  border-radius: 6px;
  align-items: center;
  display: flex;
  position: relative;
}

.large {
  width: 297px;
  background: #fff;
  border-radius: 5px;
  height: 222px;
  display: block;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: all 0.2s;
  overflow: hidden;
}

.large .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background: #fff;
}

.footer .avatar {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 24px;
  height: 24px;
  background-color: #F1F3F5;
  border-radius: 50%;
}

.footer .skeleton {
  position: absolute;
  top: 0;
}

.footer .skeleton .line {
  height: 9px;
  background-color: #F1F3F5;
  border-radius: 20px;
  left: 10px;
  position: absolute;
}

.footer .skeleton .line:first-child {
  width: 120px;
  top: 16px;
}

.footer .skeleton .line:nth-child(2) {
  width: 60px;
  top: 30px;
}


.default {
  background: #527CEB;
}

.brainstorming {
  background-color: #56C288;
}

.wireframes {
  background-color: #556575;
}

.discovery {
  background-color: #527CEB;
}

.wip {
  background-color: #C593DB;
}

.usage {
  background-color: #1292EE;
}

.review {
  background-color: #F23459;
}

.research {
  background-color: #FFC555;
}

.archived  {
  background-color: #002651;
}

h5 {
  margin: 5px 0 20px 0;
  font-weight: 500;
}

.title {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  display: block;
}

.category {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  display: block;
  margin: 5px 0 52px;
}

.options {
  margin: 20px 0 0;
  position: relative;
}

.options .input {
  margin-top: 10px;
}

.avatar-buttons {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 3px;
  z-index: 10;
}

.avatar-buttons div:hover {
  background: none !important;
  cursor: pointer !important;
}

.controls {
  display: flex;
}

.toggles {
  display: flex;
  margin-left: auto;
}

.toggles .selected {
  background-color: #F1F3F5 !important;
}

.toggles .selected > div {
  color: rgba(0, 0, 0, 0.8) !important;
  fill: rgba(0, 0, 0, 0.8) !important;
}

.toggles > div {
  margin: 0 1px !important;
  border-radius: 4px !important;
}

.toggles .icon-component:hover {
  cursor: pointer !important;
}

.button-holder {
  position: absolute;
  right: 12px;
  bottom: 12px;
  display: flex;
}

.button-holder .primary {
  margin-left: 10px !important;
  background-color: #1D2B36 !important;
}

.button-holder .primary:hover, .button-holder .secondary:hover {
  cursor:  pointer;
}

.small {
  width: 353px;
  height: 178px;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  margin-left: auto;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  position: relative;
}

.mini {
  width: 203px;
  height: 144px;
  position: absolute;
  border-radius: 4px;
  top: 17px;
  right: 40px;
  padding: 11px;
  transition: all 0.2s;
}

.mini .category {
  font-size: 12px;
  margin: 10px 0 32px;
}

.mini .title {
  font-size: 15px;
  line-height: 20px;
}

.small .right {
  position: absolute;
  height: 144px;
  width: 22px;
  background-color: #F1F3F5;
  border-radius: 4px 0px 0px 4px;
  right: 1px;
  top: 17px;
}

.small .skeleton {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.small .skeleton .line {
  height: 9px;
  background-color: #F1F3F5;
  border-radius: 20px;
  left: 10px;
  position: absolute;
}

.small .skeleton .line:first-child {
  width: 80px;
  top: 17px;
}

.small .skeleton .line:nth-child(2) {
  width: 60px;
  top: 36px;
}

.small .skeleton .line:nth-child(3) {
  width: 30px;
  top: 56px;
}

.small .skeleton .line:nth-child(4) {
  width: 60px;
  bottom: 17px;
}

.options .input input {
  border: 0 !important;
  border-bottom: 1px solid var(--black1) !important;
  height: 36px !important;
}


.emoji {
  display: flex;
  position: absolute;
  right: -4px;
  bottom: 45px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  padding: 6px;
  z-index: 100;
}

.emoji .icon-component {
  font-size: 16px !important;
}

.emoji > div {
  border-radius: 6px !important;
}

.emoji label {
  padding: 0 !important;
  margin:  0 !important;
}

.emoji label:hover {
  cursor: pointer;
}

.emoji label:before {
  border: 0 !important;
  width: auto !important;
  height: auto !important;
  margin: 0 6px !important;
  font-size: 16px !important;
}


.emoji > div:first-child label:before {
  content: "🦄";
}

.emoji > div:nth-child(2) label:before {
  content: "🦊";
}

.emoji > div:nth-child(3) label:before {
  content: "🐯";
}

.emoji > div:nth-child(4) label:before {
  content: "🐶";
}

.emoji > div:nth-child(5) label:before {
  content: "🐷";
}

.emoji > div:nth-child(6) label:before {
  content: "🐨";
}

.emoji > div:nth-child(7) label:before {
  content: "🐰";
}

.emoji > div:nth-child(8) label:before {
  content: "🐸";
}

.emoji input:checked+label:before {
  background: none !important;
}

.emoji input {
  display: none !important;
}

.name {
  position: absolute;
  right: 16px;
  bottom: 65px;
  text-align: right;
  color: #000;
  border-radius: 5px;
  padding: 0 6px;
  line-height: 26px;
  font-size: 12px;
  background: #fff;
}

.name.pink {
  color: #731814;
  background: #FED1C4;
}